**Data Structures**
__1d data structure __
1 tuple
2 list
3 Dictionary
Two types of datatypes
1 Homogeneous - all the data is of one data type
2 Heterogeneous -can contain any type of data in single variable
### All data structures in python are heterogeneous and 1D in nature

#--------------------
1 creation
  tuple : use []
  list  : use ()
2 Access Elements
    for both tuple and list,we make use of the [] operator
    and the [] index, will take one or more numbers as input           indexes
    
    
3 Apply Conditions
4 Functions associated with them

In [4]:
#tuple
t1  = 1,2,3,4,5
t2 = (1 , 2 ,3,4, 5,'d')
t1

(1, 2, 3, 4, 5)

In [5]:
t2

(1, 2, 3, 4, 5, 'd')

In [7]:
# list
# list is created using  square brackets
# len() can be used to find out the length of list or tuple or any index base datastructure
len(t2)

6

In [8]:
t1[3]

4

In [13]:
#usign colon operator  to fetch many values from variable# 
# : op works exactly like the  range() returns the value from  index 0 to 4 
t1[0:5]

(1, 2, 3, 4, 5)

In [15]:
#extract all even position elements using col operator
t1[2:2]

()

In [20]:
li = [12,232,2,23,23,23,31,13,43,5,23]
li[0: len(li): 2]

[12, 2, 23, 31, 43, 23]

In [21]:
range(10 , 1 , 
      -1)

[10, 9, 8, 7, 6, 5, 4, 3, 2]

In [23]:
li[-3]

43

In [25]:
for i in range(0, 10):
    if(i >1 and i <5):
        print(i)

2
3
4

In [ ]:
#list comprehension
# to get all elements from li > 30 and < 60
res = [x